---
version: '3.9'
services:
  {{ tag }}:
    image: {{ image }}
    container_name: {{ tag }}
    user: root
{% for services, service_line in docker.items() %}
    {{ services }}:
{% for line in service_line %}
      - {{ line }}
{%  endfor -%}
{% endfor %}
    restart: {{ restart }}
{% for ports, port_line in app.items() %}
    {{ ports }}:
{% for line in port_line %}
      - {{ line }}
{%  endfor -%}
{% endfor %}
    logging:
      driver: {{ logging.driver }}
      options:
        loki-url: {{ logging.url }}
        loki-external-labels: "app={{ tag }},env=home"
        loki-pipeline-stages: |
          - regex:
              expression: '(level|lvl|severity)=(?P<level>\w+)'
          - labels:
              level:
