global:
  scrape_interval: 10s
scrape_configs:
  - job_name: 'vmagent'
    static_configs:
      - targets: ['192.177.1.100:8429']
        labels:
          environment: prod
          collector: "{{ tag }}"

  - job_name: 'vmalert'
    static_configs:
      - targets: ['192.177.1.100:8880']
        labels:
          environment: prod
          collector: "{{ tag }}"

  - job_name: 'victoriametrics'
    static_configs:
      - targets: ['192.177.1.100:8428']
        labels:
          environment: prod
          collector: "{{ tag }}"

  - job_name: 'alertmanager'
    scrape_interval: 20s
    metrics_path : /metrics
    static_configs:
      - targets: ['192.177.1.100:9093']
        labels:
          environment: prod
          collector: "{{ tag }}"
